##APP CONFIGS
#app.config(NODE_ENV in: development, test, production)
NODE_ENV=
##APP AND CLIENTS MANAGER CONFIGS
#clients-manager.config(CLIENTS_MANAGER_MOCK_ENABLED allows to mock Kafka for development environment)
CLIENTS_MANAGER_MOCK_ENABLED=true
#kafka.configs
CLIENTS_MANAGER_KAFKA_CLIEND_ID=API-GATEWAY-1
CLIENTS_MANAGER_KAFKA_CLIENT_GROUP_ID=API-GATEWAY
CLIENTS_MANAGER_KAFKA_BROKER_URL=127.0.0.1:9092
CLIENTS_MANAGER_KAFKA_BROKER_SSL_ENABLED=false
CLIENTS_MANAGER_KAFKA_BROKER_SSL_CA='-----BEGIN CERTIFICATE-----
...
-----END CERTIFICATE-----'
CLIENTS_MANAGER_KAFKA_BROKER_SSL_KEY="-----BEGIN PRIVATE KEY-----
...
-----END PRIVATE KEY-----"
CLIENTS_MANAGER_KAFKA_BROKER_SSL_CERT='-----BEGIN CERTIFICATE-----
...
-----END CERTIFICATE-----'
#CLIENTS_MANAGER_KAFKA_BROKER_USERNAME=
#CLIENTS_MANAGER_KAFKA_BROKER_PASSWORD=

##DATABASE CONFIGS
#database.config(DB_SYNCH MUST BE false IN PRODUCTION TO AVOID DATA LOSS!!!!)
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USERNAME=
DB_PASSWORD=
DB_SCHEMA=
DB_SYNCH=false

##FILE SYSTEM CONFIGS
#file-system.config
FS_PATH=

##LOGGING CONFIGS
#logging.config(level in "silent", "fatal", "error", "warn", "info", "debug", "trace")
LOGGING_NAME=client name
LOGGING_LEVEL=info
LOGGING_ENABLE_CLIENTS_MANAGER_TRANSPORT=false


#SEND SCHEDULER CONFIG
SEND_SCHEDULER_CRON_EXPRESSION=45 * * * * *
SEND_MAX_SENDING_ATTEMPTS_NUMBER=5

#SEND API CONFIG
BASE_URL=
APY_KEY=